body{
    background-color: rgb(250, 218, 218);
    background-size: cover;
    background-repeat: no-repeat;
}

#fav-hero-container{
    border: 2px solid black;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: rgb(189, 176, 200);
}
h2{
 color: rgb(69, 9, 9);
 background-color: white;
 text-align: center;
 border-radius: 5px;
}
.favImage{
    width: 250px;
    height: 200px;
}

a{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    width: 19rem;
    margin: 0 auto;
    margin-top: 1rem;
}

#fav-hero-container div{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#fav-hero-container div button{
    outline: none;
    border: none;
    margin-bottom: 20px;
   
}

#fav-hero-container div button:hover{
    box-shadow: rgb(138, 83, 189) 1px 1px 5px 1px;

}

div a{
    font-size: 1rem;
    text-decoration: none;
    display: block;
    width: 11.5rem;
    margin: 0 auto;
}
.removeFav{
    width: 120px;
    margin: 10px;
    padding: 3px;
    font-size: large;
    font-size: 1.5 rem;
    border: 2px solid rgb(2, 2, 2);
    background-color: aquamarine;
    border-radius: 5px;
}
.removeFav:hover{
    cursor: pointer;
}